/*** 大图轮播 ***/
.lb-box {
    width: 100%;
    height: 340px;
    position: relative;
    overflow: hidden;
}
@media (max-width:768px) {
    .lb-box {
        height: 200px;
        margin-bottom: 15px;
    }
}

.lb-content {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.lb-item {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}

.lb-item > a {
    width: 100%;
    height: 100%;
    display: block;
}

.lb-item > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.lb-item > a > div {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    padding: 15px;
    color: #fff;
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0));
    border-radius: 0 0 4px 4px;
}
@media (max-width:568px) {
    .lb-item > a > div {
        padding: 10px;
    }
}
.lb-item > a > div > h3 {
    width: 100%;
    padding-right: 170px;
    height: 1em;
    line-height: 1em;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}


.lb-item.active {
    display: block;
    left: 0%;
}
.lb-item.active.left {
    left: -100%;
}
.lb-item.active.right {
    left: 100%;
}

/* 轮播控制 */
.lb-item.next, .lb-item.prev {
    display: block;
    position: absolute;
    top: 0px;
}
.lb-item.next {
    left: 100%;
}
.lb-item.prev {
    left: -100%;
}
.lb-item.next.left, .lb-item.prev.right {
    left: 0%;
}

.lb-sign {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px 3px;
    border-radius: 16px;
    list-style: none;
    user-select: none;
    background-color: rgba(0,0,0,0.4);
}

.lb-sign li {
    width: 22px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    float: left;
    color: #aaa;
    margin: auto 4px;
    border-radius: 13px;
    cursor: pointer;
    opacity: 0.6;
}
.lb-sign li:hover {
    color: #fff;
}
.lb-sign li.active {
    color: #000;
    opacity: 1;
    background-color: #EBEBEB;
    transition: all 0.2s linear;
}

.lb-ctrl {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    vertical-align: middle;
    font-weight: 200;
    user-select: none;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s linear;
}
@media (max-width:568px) {
    .lb-ctrl {
        font-size: 30px;
    }
}
.lb-ctrl.left {
    left: -50px;
}
.lb-ctrl.right {
    right: -50px;
}
.lb-box:hover .lb-ctrl.left {
    left: 10px;
}
.lb-box:hover .lb-ctrl.right {
    right: 10px;
}
.lb-ctrl:hover {
    background-color: rgba(0,0,0,0.6);
}

/*** 大图轮播 End ***/